In [ ]:
!python --version

Python 3.9.16

In [ ]:
import pandas as pd

In [ ]:
def my_sum(a, b):
  return a + b

In [ ]:
my_sum(a=2, b=3)

5

In [ ]:
filepath = 'https://raw.githubusercontent.com/andreagiussani/Applied_Machine_Learning_with_Python/master/data/election.csv'

In [ ]:
df = pd.read_csv(filepath)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head(13)

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
5,Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
6,Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
7,Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351
8,Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
9,Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
10,Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933
11,Cameron,PA,1967,34.417895,64.260295,Romney,3651,53.875651,29.842400
12,Carbon,PA,24232,45.559591,52.451304,Romney,39017,62.106261,6.891713

In [ ]:
pd.set_option('display.max_rows', 100)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   county   67 non-null     object
 1   state    67 non-null     object
 2   total    67 non-null     int64
 3   Obama    67 non-null     float64
 4   Romney   67 non-null     float64
 5   winner   67 non-null     object
 6   voters   67 non-null     int64
 7   turnout  67 non-null     float64
 8   margin   67 non-null     float64
dtypes: float64(4), int64(2), object(3)
memory usage: 4.8+ KB

## Indexing

In [ ]:
df.iloc[12]

county        Carbon
state             PA
total          24232
Obama      45.559591
Romney     52.451304
winner        Romney
voters         39017
turnout    62.106261
margin      6.891713
Name: 12, dtype: object

In [ ]:
type(df.iloc[12])

pandas.core.series.Series

In [ ]:
df.iloc[11:13, :]

,county,state,total,Obama,Romney,winner,voters,turnout,margin
11,Cameron,PA,1967,34.417895,64.260295,Romney,3651,53.875651,29.842400
12,Carbon,PA,24232,45.559591,52.451304,Romney,39017,62.106261,6.891713

In [ ]:
df.iloc[11:13, 0:3]

     county state  total
11  Cameron    PA   1967
12   Carbon    PA  24232

In [ ]:
df.loc[:, ['state', 'winner']]

               state  winner
county
Adams             PA  Romney
Allegheny         PA   Obama
Armstrong         PA  Romney
Beaver            PA  Romney
Bedford           PA  Romney
Berks             PA  Romney
Blair             PA  Romney
Bradford          PA  Romney
Bucks             PA   Obama
Butler            PA  Romney
Cambria           PA  Romney
Cameron           PA  Romney
Carbon            PA  Romney
Centre            PA  Romney
Chester           PA  Romney
Clarion           PA  Romney
Clearfield        PA  Romney
Clinton           PA  Romney
Columbia          PA  Romney
Crawford          PA  Romney
Cumberland        PA  Romney
Dauphin           PA   Obama
Delaware          PA   Obama
Elk               PA  Romney
Erie              PA   Obama
Fayette           PA  Romney
Forest            PA  Romney
Franklin          PA  Romney
Fulton            PA  Romney
Greene            PA  Romney
Huntingdon        PA  Romney
Indiana           PA  Romney
Jefferson         PA  Romney
Juniata           PA  Romney
Lackawanna        PA   Obama
Lancaster         PA  Romney
Lawrence          PA  Romney
Lebanon           PA  Romney
Lehigh            PA   Obama
Luzerne           PA   Obama
Lycoming          PA  Romney
McKean            PA  Romney
Mercer            PA  Romney
Mifflin           PA  Romney
Monroe            PA   Obama
Montgomery        PA   Obama
Montour           PA  Romney
Northampton       PA   Obama
Northumberland    PA  Romney
Perry             PA  Romney
Philadelphia      PA   Obama
Pike              PA  Romney
Potter            PA  Romney
Schuylkill        PA  Romney
Snyder            PA  Romney
Somerset          PA  Romney
Sullivan          PA  Romney
Susquehanna       PA  Romney
Tioga             PA  Romney
Union             PA  Romney
Venango           PA  Romney
Warren            PA  Romney
Washington        PA  Romney
Wayne             PA  Romney
Westmoreland      PA  Romney
Wyoming           PA  Romney
York              PA  Romney

## Cambio indice

In [ ]:
new_df = df.set_index('county')

In [ ]:
df.set_index('county', inplace=True)

In [ ]:
df.reset_index('county')

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
...,...,...,...,...,...,...,...,...,...
62,Washington,PA,90078,42.744066,56.012567,Romney,142331,63.287689,13.268501
63,Wayne,PA,20966,38.815225,59.768196,Romney,32577,64.358290,20.952971
64,Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508
65,Wyoming,PA,11214,42.910647,55.189941,Romney,17255,64.989858,12.279294
66,York,PA,186394,38.695452,59.860296,Romney,280280,66.502783,21.164844

In [ ]:
df.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [ ]:
df.loc['Carbon', :]

state             PA
total          24232
Obama      45.559591
Romney     52.451304
winner        Romney
voters         39017
turnout    62.106261
margin      6.891713
Name: Carbon, dtype: object

## Data Filtering

In [ ]:
df[(df.turnout > 70)&(df.turnout < 73)] 
# &: intersezione 
# |: complementari

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

In [ ]:
df[(df.turnout > 70)&(df.winner == 'Romney')].index.tolist()

['Butler', 'Chester', 'Forest', 'Franklin', 'Westmoreland']

In [ ]:
romney_70_df = df[(df.turnout > 70)&(df.winner == 'Romney')]

In [ ]:
obama_70_df = df[(df.turnout > 70)&(df.winner == 'Obama')]

In [ ]:
df.query("turnout > 70 and winner == 'Romney'")

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

## Valuation efficiency

In [ ]:
condition_one = 70
condition_two = 'Romney'
df[(df.turnout > condition_one)&(df.winner == condition_two)]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

In [ ]:
%%timeit -n 100
df[(df.turnout > 70)&(df.winner == 'Romney')]

518 µs ± 49.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
df.query("turnout > @condition_one and winner == @condition_two")

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

## Exercise

Costruiamo una Python classe chiamata 'DataManager' che è caratterizzata da tre metodi:
1. inizializzatore che ha come argomento filepath che ingestiona una stringa;
2. data_reader che eredita dalla classe gli attributi e ritorna il filepath come un pandas dataframe;
3. slicer - metodo statico - che ingestiona il risultato del data_reader e due stringhe, col1 e col2, che indicano le colonne del dataframe sul quale vogliamo fare slicing

In [ ]:
class DataManager:
  def __init__(self, filepath):
    self.filepath = filepath

  def data_reader(self):
    df = pd.read_csv(self.filepath)
    return df

  def slicer(self, col1, col2):
    df = self.data_reader()
    return df.loc[:, [col1, col2]]

  @staticmethod
  def slicer(df, col1, col2):
    return df.loc[:, [col1, col2]]

In [ ]:
dm = DataManager(
    filepath='https://raw.githubusercontent.com/andreagiussani/Applied_Machine_Learning_with_Python/master/data/election.csv'
    )

In [ ]:
my_df = dm.data_reader()

In [ ]:
dm.slicer(my_df, 'state', 'winner').head(2)

  state  winner
0    PA  Romney
1    PA   Obama